body {
    background-color: gray;
}
.card {
    width: 90%;
    background-color: white;
}
.content{
    font-size: 25px;
    border: solid 1px black;
    margin: 1px;
}
.card .contentImg img {
    width: 400px;
    height: 250px;
    padding: 20px;
    border: solid 1px black;
    margin: 20px;
}
#main{
    border: solid 1px #ff0000;
    display: flex;
    flex-direction: row;
}