<div class="player-playing">
    <div class="playing-img">
        <img src="../../../../assets/images/disc01.png" alt="">
    </div>
    <div class="playing-info">
        <span class="title">{{ songPlaying.song_name }}</span>
        <!-- <span class="title">A solas</span> -->
        <caption class="author">Maria Becerra</caption>
    </div>
    <div class="playing-fav">
        <button><svg role="img" height="16" width="16" viewBox="0 0 16 16" class="Svg-sc-1bi12j5-0 jgfuCe"><path d="M1.69 2A4.582 4.582 0 018 2.023 4.583 4.583 0 0111.88.817h.002a4.618 4.618 0 013.782 3.65v.003a4.543 4.543 0 01-1.011 3.84L9.35 14.629a1.765 1.765 0 01-2.093.464 1.762 1.762 0 01-.605-.463L1.348 8.309A4.582 4.582 0 011.689 2zm3.158.252A3.082 3.082 0 002.49 7.337l.005.005L7.8 13.664a.264.264 0 00.311.069.262.262 0 00.09-.069l5.312-6.33a3.043 3.043 0 00.68-2.573 3.118 3.118 0 00-2.551-2.463 3.079 3.079 0 00-2.612.816l-.007.007a1.501 1.501 0 01-2.045 0l-.009-.008a3.082 3.082 0 00-2.121-.861z"></path></svg></button>
    </div>
</div>
<div class="player-controls">
    <div class="controls-buttons">
        <img src="../../../../assets/images/shuffle.png" class="controls" alt="">
        <img src="../../../../assets/images/back-button.png" class="controls" alt="">
        <span class="play-pause" (click)="audioPlayStop()"><img src="../../../../assets/images/play(1).png" alt=""></span>
        <img src="../../../../assets/images/next-button.png" class="controls" alt="">
        <img src="../../../../assets/images/repeat(1).png" class="controls" alt="">
    </div>
    <div class="control-progress">
        <span class="progress-done">0:51</span>
        <div class="progress-bar">
            <div class="progress-bar-a"></div>
            <div class="progress-bar-b"></div>
        </div>
        <span class="progress-total">2:24</span>
    </div>
</div>
<div class="player-settings">
    <img src="../../../../assets/images/microphone.png" alt="">
    <img src="../../../../assets/images/list.png" alt="">
    <img src="../../../../assets/images/laptop.png" alt="">
    <img src="../../../../assets/images/medium-volume.png" alt="">
    <div class="volume-bar">
        <div class="volume-bar-a"></div>
        <div class="volume-bar-b"></div>
    </div>            
    <img src="../../../../assets/images/resize.png" alt="">
</div>
