
    <div class="iconos">
        <a href=""><fa-icon [icon]="faHouse"></fa-icon></a>
        <a href=""><fa-icon [icon] ="faPaperPlane"></fa-icon></a>
        <a href=""><fa-icon [icon] ="faSquarePlus"></fa-icon></a>
        <a href=""><fa-icon [icon]="faCompass"></fa-icon></a>
        <a href=""><fa-icon [icon]="faHeart"></fa-icon></a>
        <img-perfil (onPress)="toggleMenu()" class="imgPerfil" onClick></img-perfil>
        <div [ngClass]="{'second__menu': true, 'second_menu_hidden': !showMenu}" >
            <app-menu-perfil ></app-menu-perfil>
        </div>
    </div>