.content-card {
    padding: 1.5rem;
    background-color: #151515;
    border-radius: 0.6rem;
    &:hover {
        background-color: #272727;
        cursor: pointer;
    }

    .card-img-box {
        border-radius: 0.4rem;
        overflow: hidden;
        width: 100%;
        aspect-ratio: 1/1;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        img {
            width: 100%;
        }

        .btn-player {
            position: relative;
            top: -55%;
            right: -65%;
        }
    }

    .card-text {
        padding: 2rem 0;
        a {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 700;
        }

        p {
            margin: 0.5rem 0;
            line-height: 1.2;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}