<section class="welcome">
    <div class="content-title">
        <h2>¡Buenos días!</h2>
    </div>
    <div class="content-grid">
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">                                
            </div>
            <div class="card-text">
                <a href="">Maria Becerra</a>
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">                                
            </div>
            <div class="card-text">
                <a href="">Entrevisto a un ABOGADO sobre NFTs, Registro de...</a>
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">                                
            </div>
            <div class="card-text">
                <a href="">Maria Becerra</a>
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">                                
            </div>
            <div class="card-text">
                <a href="">Maria Becerra</a>
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">                                
            </div>
            <div class="card-text">
                <a href="">Maria Becerra</a>
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">                                
            </div>
            <div class="card-text">
                <a href="">Maria Becerra</a>
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
        </div>
    </div>
</section>


<app-card-display *ngFor="let collection of collections" [collection]="collection" class="content"></app-card-display>



<section class="content">
    <div class="content-title">
        <a href="" class="title">Tus programas</a>
        <a href="" class="more">ver todo</a>
    </div>
    <div class="content-grid">
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
            <div class="card-text">
                <a href="">Sin Oficina</a>
                <p>Bosco Soler</p>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
            <div class="card-text">
                <a href="">Sin Oficina</a>
                <p>Bosco Soler</p>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
            <div class="card-text">
                <a href="">Sin Oficina</a>
                <p>Bosco Soler lore</p>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
            <div class="card-text">
                <a href="">Sin Oficina</a>
                <p>Bosco Soler</p>
            </div>
        </div>
        <div class="content-card">
            <div class="card-img-box">
                <img src="../../../../assets/images/disc01.png" alt="">
                <button class="btn-player"><img src="../../../../assets/images/play(1).png" alt=""></button>
            </div>
            <div class="card-text">
                <a href="">Sin Oficina</a>
                <p>Bosco Soler</p>
            </div>
        </div>
    </div>
</section>
