.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 158, 163);
    padding: 2.4rem;
    border-radius: 0.5rem;

    h2 {
        margin: 0;
        font-weight: 700;
        width: 30%;
        color: white;
    }
}