<div class="main-menu">
    <a routerLink="/home"><img src="../../../assets/images/home.png" alt=""> Home</a>
    <a routerLink="/clients"><img src="../../../assets/images/man-user.png" alt="">Clients</a>
    <a routerLink="/managers"><img src="../../../assets/images/clerk-with-tie.png" alt="">Managers</a>
    <a routerLink="/loans"><img src="../../../assets/images/loan.png" alt="">Loans</a>
    <a routerLink="/wires"><img src="../../../assets/images/two-arrows.png" alt="">Wires</a>
    <a routerLink="/messages"><img src="../../../assets/images/chat.png" alt="">Messages</a>
</div>