.client {
    width: 100%;
    display: grid;
    grid-template-rows: 15vh auto;
    gap: 2.4rem;

    .main-body {
        border-radius: 0.5rem;
        background-color: white;
        border: 0.1rem solid #dedede ;
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        form {
            display: grid;
            // flex-wrap: wrap;
            grid-template-columns: repeat(2, 1fr);
            gap: 2.4rem;

            .form-group {
                min-width: 20rem;

                label  {
                    position: absolute;
                    z-index: 1;                    
                    padding: 0.8rem 1.2rem;
                    font-size: 0.8rem;
                    font-weight: 900;
                    color: #747474;
                    text-transform: uppercase;
                }

                input {
                    width: 100%;
                    position: relative;
                    padding: 2.4rem 1.2rem 1.4rem;
                    background-color: #e1e0e0;
                    border: none;
                    border-top: 0.2rem solid #d3d3d3;
                    outline: none;
                    border-radius: 0.5rem;
                    font-size: 1.4rem;
                }

            }

        }

        .buttons {
            display: flex;
            width: 100%;
            justify-content: flex-end;
            gap: 1.2rem;
        }
        
    }
}