<div class="client">
    <!-- <app-section-title [title]="(client | async)?.usuario"></app-section-title> -->
    <app-section-title title="New client"></app-section-title>
    <div class="main-body">
        <form action="">
            <div class="form-group">
                <label for="gestor">
                    Gestor:
                </label>
                <input type="text" placeholder="1" id="gestor">
            </div>
            <div class="form-group">
                <label for="usuario">
                    Usuario:
                </label>            
                <input type="text" placeholder="usuario01" id="usuario">
            </div>
            <div class="form-group">
                <label for="correo">
                    Correo:
                </label>
                <input type="text" placeholder="correo@correo.com" id="correo">
            </div>
            <div class="form-group">
                <label for="password">
                    Password:
                </label>
                <input type="text" placeholder="password" id="password">
            </div>
            <div class="form-group">
                <label for="saldo">
                    Saldo:
                </label>
                <input type="text" placeholder="$5000" id="saldo">
            </div> 
                       
        </form>
        <div class="buttons">
            <app-button-send text="Save"></app-button-send> 
            <app-button-send text="Cancel" (click)="goBack()"></app-button-send> 
        </div>
    </div>

</div>