<div class="comentarios__container">
    <div class="section">
        <div class="interaccion">  
            <a href=""><fa-icon [icon]="faHeart"></fa-icon></a>
            <a href=""><fa-icon [icon]="faComment"></fa-icon></a>
            <a href=""><fa-icon [icon]="faPaperPlane"></fa-icon></a>
        </div>
        <div class="interacción2">
            <div class="puntosfotos">
                <fa-icon [icon]="faEllipsis"></fa-icon>
            </div>
            <div class="save">
                <a href=""><fa-icon [icon]="faBookmark"></fa-icon></a>
            </div>
        </div>
    </div>
    <div class="likepeople">
        <p>Le gusta a toda esta gente.</p>
    </div>
    <div class="comentario">
        <p><span>Perfil </span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores voluptatem similique.</p>
    </div>
    <div class="comentarios">
        <p class="cantidad">ver los sopotocientos comentarios.</p>
        <p><span>Perfil2 </span>Lorem</p>
        <p><span>Perfil3 </span>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
</div>