/* You can add global styles to this file, and also import other style files */

* {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    width: 100%;
    min-height: 100vh;

        // /* Created with https://www.css-gradient.com */
        // background: #17B0B9;
        // background: -webkit-linear-gradient(top left, #17B0B9, #BCEDFF);
        // background: -moz-linear-gradient(top left, #17B0B9, #BCEDFF);
        // background: linear-gradient(to bottom right, #17B0B9, #BCEDFF);

        // background-color: #ecf1fa;

        background-image: -moz-linear-gradient(45deg, rgb(199, 255, 249), rgb(167, 153, 255));

background-image: -webkit-linear-gradient(45deg, rgb(199, 255, 249), rgb(167, 153, 255));

background-image: linear-gradient(45deg, rgb(199, 255, 249), rgb(167, 153, 255)); 
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    margin: 2.5rem 0 0.5rem;
    font-weight: 900;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    letter-spacing: -2px;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.8rem;
    max-width: 70ch;
    margin: 1rem 0;
}
ul {
    list-style-type: none;
}
a {
    font-size: 1.8rem;
    color: inherit;
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
.btn {
    border: none;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    margin: 0;
    align-self: flex-start;
    background-color: rgb(2, 158, 163);
    color: white;
    cursor: pointer;
}

app-root {
    border-radius: 1.5rem;
    width: 90%;
    min-height: 90vh;
    margin: 5vh auto;



    display: block;
    overflow: hidden;
    display: grid;
    grid-template-columns: 25rem auto;
    grid-template-rows: 6.5rem auto;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}