.sidebar {
    background-color: #fff;
    // background: rgba(255, 255, 255, 0.2);
    // // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // // backdrop-filter: blur(5px);
    // // -webkit-backdrop-filter: blur(5px);
    // // border: 1px solid rgba(255, 255, 255, 0.3);

    // backdrop-filter: blur(16px) saturate(180%);
    // -webkit-backdrop-filter: blur(16px) saturate(180%);
    // background-color: rgba(255, 255, 255, 0.75);
    // border-radius: 12px;
    // border: 1px solid rgba(209, 213, 219, 0.3);

    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding: 2rem 2.4rem;
    justify-content: space-between;
    

    .top-menu {
        .logo {
            font-size: 2.4rem;
            font-weight: 900;
            color: rgb(2, 158, 163);
            margin-bottom: 2rem;

        }

        app-main-menu {

        }
    }

    .settings {
        a {
            font-size: 1.6rem;
            font-weight: 700;
            color: #7a7a7a;

            &:hover {
                color: rgb(2, 158, 163);
            }
        }
    }
}