.btn-player {
    background-color: #1ed760;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    padding: 1.5rem 1.4rem 1.5rem 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    img {
        width: 2rem;
        height: 2rem;
    }
}