.modify-client {
    width: 100%;
    display: grid;
    grid-template-rows: 15vh auto;
    gap: 2.4rem;

    .section-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(2, 158, 163);
        padding: 2.4rem;
        border-radius: 0.5rem;

        h2 {
            margin: 0;
            font-weight: 700;
            width: 30%;
            color: white;
        }
    }

    .form {
        border-radius: 0.5rem;
        background-color: white;
        border: 0.1rem solid #dedede ;
        padding: 2.4rem;
    }
}