.nav__container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    justify-content:space-around; 
    border: 1px solid rgb(201, 197, 197);
    background-color: #fff ;
    position: fixed;
    z-index: 1000;
    img{
        width: 100px;
        height: 50%;
        margin-top: 2px;
    }
    
}

.interfaz{
    display: flex;
    align-items: center;
    margin-top: 75px;
    width: 100%;
    min-width: 470;
    gap: 15px;
    flex-direction: column;
}